// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;


// Override Bootstrap variables

$enable-rounded: true;
$enable-transitions: true;
$body-bg: $gray-lighter;
$spacer: 1.5rem;
$font-family-sans-serif: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


// Variables used for extended components
// ---------------------------------------


// Sidebar

$sidebar-width: 250px;
$sidebar-bg:    #2d3446;

// Header-navbar

$header-navbar-height:        60px;
$header-navbar-bg:            white;
$header-navbar-bottom-border: darken($gray-lighter,10%);
