<%- include header.ejs %>

<!-- Page Content -->

<div class="container-fluid">
  <div class="row page-header">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Egna komponenter</li>
        <li class="active">Knappar</li>
      </ol>
      <h1>Knappar</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Small action buttons</h3>
          <p>
            Här finns färdigdesignade knappar (med tooltips om så önskas) och dropdown. Knapparna använder Bootstraps standard btn-classer inuti en container med <code>class="small-action-btn-group"</code>. Det är möjligt att ha text inuti knapparna, även om det rent estetiskt blir bättre om man håller sig till ikoner.
          </p>
          <div class="alert alert-warning"><em>
            Knapparna fungerar inte perfekt på mobil just nu, då de hoppar ner på en ny rad när containern blir för smal.</em>
          </div>
          </div>
          <div class="container-fluid">
            <div class="row m-b-2">
              <div class="col-md-5">
                <h5>Tables</h5>
                <p>Applicera classen <code>.small-action-btn-group</code> på den <code>&lt;td&gt;</code> som knapparna ska placeras inom.</p>
                <div class="alert alert-warning"><em>När dropdowns är "open" så disablas <code>.table-responsive</code>s overflow-funktion. Det ser lite dåligt ut (speciellt på mobil) men det bör inte förstöra någon funktionalitet.</em></div>
              </div>
              <div class="col-md-7">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td class="small-action-btn-group">
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Mer information"><i class="fa fa-info fa-fw"></i></button>
                          <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Redigera"><i class="fa fa-wrench fa-fw"></i></button>
                          <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Ta bort"><i class="fa fa-times fa-fw"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td class="small-action-btn-group">
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Mer information"><i class="fa fa-info fa-fw"></i></button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Redigera"><i class="fa fa-wrench fa-fw"></i></button>
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ta bort"><i class="fa fa-times fa-fw"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td class="small-action-btn-group">
                          <div class="dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <h6 class="dropdown-header">Åtgärder</h6>
                              <a class="dropdown-item" href="#"><i class="fa fa-wrench fa-fw"></i> Redigera</a>
                              <a class="dropdown-item" href="#"><i class="fa fa-info fa-fw"></i> Mer information</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash fa-fw"></i> Ta bort</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row m-b-2">
              <div class="col-md-5">
                <h5>Cards</h5>
                <p>Placera en div med classen <code>.small-action-btn-group</code> inuti den <code>&lt;div class="card-actions"&gt;</code> som knapparna ska placeras inom. Diven med <code>.card-actions</code> positionerar i sin tur knapparna på rätt ställe. <a href="/cardactions">Läs om Card actions</a>.</p>
              </div>
              <div class="col-md-7">

                <div class="card">
                  <h5 class="card-header">
                    Card header
                  </h5>
                    <div class="card-actions">
                      <div class="small-action-btn-group">
                        <div class="dropdown">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Droppis</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Länk</a>
                            <a class="dropdown-item" href="#">Länk</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash fa-fw"></i> Ta bort</a>
                          </div>
                        </div>
                      </div>
                      <div class="small-action-btn-group">
                      <button type="button" class="btn btn-info"><i class="fa fa-refresh"></i></button>
                      <button type="button" class="btn btn-secondary"><i class="fa fa-times"></i></button>
                      </div>
                    </div>

                  <div class="card-block">
                    <p class="card-text">Card block</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <h5>Nestables</h5>
                <p>Här placeras <code>.small-action-btn-group</code> inuti och i slutet av <code>&lt;li class="nestable-item"&gt;</code>.</p>
              </div>
              <div class="col-md-7 nestable" id="nestable">
                        <ol class="nestable-list">
                            <li class="nestable-item" data-id="1">
                                <div class="nestable-handle">Item 1</div>
                                <div class="small-action-btn-group">
                                  <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Mer information"><i class="fa fa-info fa-fw"></i></button>
                                  <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Redigera"><i class="fa fa-wrench fa-fw"></i></button>
                                  <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Ta bort"><i class="fa fa-times fa-fw"></i></button>
                                </div>
                            </li>
                            <li class="nestable-item" data-id="2">
                                <div class="nestable-handle">Item 2</div>
                                  <div class="small-action-btn-group">
                                    <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Mer information"><i class="fa fa-info fa-fw"></i></button>
                                    <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Redigera"><i class="fa fa-wrench fa-fw"></i></button>
                                    <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Ta bort"><i class="fa fa-times fa-fw"></i></button>
                                  </div>
                                <ol class="nestable-list">
                                    <li class="nestable-item nestable-inverse nestable-info" data-id="3"><div class="nestable-handle">Item 3</div>
                                      <div class="small-action-btn-group">
                                        <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Mer information"><i class="fa fa-info fa-fw"></i></button>
                                        <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Redigera"><i class="fa fa-wrench fa-fw"></i></button>
                                        <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Ta bort"><i class="fa fa-times fa-fw"></i></button>
                                      </div></li>
                                    <li class="nestable-item" data-id="4"><div class="nestable-handle">Item 4</div>
                                      <div class="small-action-btn-group">
                                        <div class="dropdown">
                                          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></button>
                                          <div class="dropdown-menu dropdown-menu-right">
                                            <h6 class="dropdown-header">Åtgärder</h6>
                                            <a class="dropdown-item" href="#"><i class="fa fa-wrench fa-fw"></i> Redigera</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-info fa-fw"></i> Mer information</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash fa-fw"></i> Ta bort</a>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                </ol>
                            </li>
                            <li class="nestable-item" data-id="11">
                                <div class="nestable-handle">Item 11
                                  <div class="small-action-btn-group">
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Mer information">Knapp</button>
                                    <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Ta bort"><i class="fa fa-times fa-fw"></i></button>
                                  </div>
                                </div>
                            </li>
                        </ol>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Circle buttons</h3>
            <p>Använd helst ikoner inuti knapparna. Fungerar ganska dåligt med text då width/height-förhållandet alltid måste vara 1:1.</p>
          </div>
          <div class="container-fluid">
            <div class="row m-b-2 p-b-2" style="border-bottom: 1px solid #ccc;">
              <div class="col-md-6 text-xs-center">
                <h5>Default size</h5>
                <button type="button" class="btn btn-primary btn-circle">P</button>
                <button type="button" class="btn btn-secondary btn-circle"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-success btn-circle">S</button>
                <button type="button" class="btn btn-info btn-circle">I</button>
                <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-danger btn-circle">D</button>
                <h5 class="m-t-2">Small size</h5>
                <button type="button" class="btn btn-primary btn-sm btn-circle">P</button>
                <button type="button" class="btn btn-secondary btn-sm btn-circle"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-success btn-sm btn-circle"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-circle"></i></button>
                <button type="button" class="btn btn-warning btn-sm btn-circle"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-danger btn-sm btn-circle"><i class="fa fa-trash"></i></button>
              </div>
              <div class="col-md-6 text-xs-center">
                <h5>Large size</h5>
                <button type="button" class="btn btn-primary btn-lg btn-circle"><i class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-secondary btn-lg btn-circle"><i class="fa fa-chevron-down fa-lg"></i></button>
                <button type="button" class="btn btn-success btn-lg btn-circle"><i class="fa fa-chevron-down fa-2x"></i></button>
                <h5 class="m-t-2">Extra large size</h5>
                <button type="button" class="btn btn-info btn-xl btn-circle"><i class="fa fa-print fa-2x"></i></button>
                <button type="button" class="btn btn-warning btn-xl btn-circle"><i class="fa fa-print fa-3x"></i></button>
                <button type="button" class="btn btn-danger btn-xl btn-circle">Danger</button>
              </div>
            </div>
            <div class="row m-b-2 p-b-2" style="border-bottom: 1px solid #ccc;">
              <div class="col-lg-12 text-xs-center p-b-1"><h4>Outlines</h4></div>
              <div class="col-md-6 text-xs-center">
                <h5>Default size</h5>
                <button type="button" class="btn btn-primary-outline btn-circle">P</button>
                <button type="button" class="btn btn-secondary-outline btn-circle"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-success-outline btn-circle">S</button>
                <button type="button" class="btn btn-info-outline btn-circle">I</button>
                <button type="button" class="btn btn-warning-outline btn-circle"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-danger-outline btn-circle">D</button>
                <h5 class="m-t-2">Small size</h5>
                <button type="button" class="btn btn-primary-outline btn-sm btn-circle">P</button>
                <button type="button" class="btn btn-secondary-outline btn-sm btn-circle"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-success-outline btn-sm btn-circle"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-info-outline btn-sm btn-circle"><i class="fa fa-circle"></i></button>
                <button type="button" class="btn btn-warning-outline btn-sm btn-circle"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-danger-outline btn-sm btn-circle"><i class="fa fa-trash"></i></button>
              </div>
              <div class="col-md-6 text-xs-center">
                <h5>Large size</h5>
                <button type="button" class="btn btn-primary-outline btn-lg btn-circle"><i class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-secondary-outline btn-lg btn-circle"><i class="fa fa-question fa-2x"></i></button>
                <button type="button" class="btn btn-success-outline btn-lg btn-circle"><i class="fa fa-plus 2x"></i></button>
                <h5 class="m-t-2">Extra large size</h5>
                <button type="button" class="btn btn-info-outline btn-xl btn-circle"><i class="fa fa-print fa-2x"></i></button>
                <button type="button" class="btn btn-warning-outline btn-xl btn-circle"><i class="fa fa-print fa-3x"></i></button>
                <button type="button" class="btn btn-danger-outline btn-xl btn-circle">Danger</button>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-xs-center p-b-1"><h4>Tillsammans med andra komponenter</h4></div>
              <div class="col-md-4 text-xs-center">
                <h5>Floating button</h5>
                <button type="button" class="btn btn-success btn-lg btn-circle btn-floating"><i class="fa fa-plus 2x"></i></button>
                <p class="m-t-1 text-xs-left"><small>Floating buttons kan användas för en typ av åtgärder som man vill promota. De flyter normalt sätt "över" själva gränssnittet, ofta positionerade i högra nedre hörnet med fixed positionering.
                  Vill man positionera knappen med absolute eller fixed positionering får man antingen lägga till en ny css-klass eller skriva
                  inline css. Classen <code>.btn-floating</code>, som används här, gör egentligen ingenting förutom att lägga på en större skugga.</small></p>
              </div>
              <div class="col-md-3 text-xs-center">
                <h5>Dropdown</h5>

                <div class="btn-group">
                  <button type="button" class="btn btn-primary-outline btn-lg btn-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary-outline btn-lg btn-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>

              <p class="m-t-1 text-xs-left"><small>Här är två exempel: en med och en utan Font Awesome-ikon. Den högra knappen har inget innehåll
                alls, förutom den CSS-genererade dropdown-ikonen.</small></p>

              </div>
              <div class="col-md-3 text-xs-center">
                <h5>Tooltip</h5>
                <button type="button" class="btn btn-primary-outline btn-lg btn-circle" data-toggle="tooltip" data-placement="bottom" title="Redigera inställningar"><i class="fa fa-wrench"></i></button>
                <p class="m-t-1 text-xs-left"><small>Fördelaktigt att använda tooltips på knappar med enbart ikoner för att förtydliga vad gör.</small></p>
              </div>
              <div class="col-md-2 text-xs-center">
                <h5>Popover</h5>
                <button type="button" class="btn btn-warning btn-lg btn-circle" data-container="body" data-toggle="popover" data-placement="bottom" title="Varning!" data-content="
Sagittis lacus vel augue laoreet rutrum faucibus."><i class="fa fa-warning"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /#page-content-wrapper -->

<%- include footer.ejs %>

<script src="js/jquery.nestable.js"></script>

<script>
$('#nestable').nestable({
  listNodeName    : 'ol',
  itemNodeName    : 'li',
  rootClass       : 'nestable',
  listClass       : 'nestable-list',
  itemClass       : 'nestable-item',
  dragClass       : 'nestable-dragel',
  handleClass     : 'nestable-handle',
  collapsedClass  : 'nestable-collapsed',
  placeClass      : 'nestable-placeholder',
  noDragClass     : 'nestable-nodrag',
  emptyClass      : 'nestable-empty',
})
.on('change', updateOutput);

</script>
