<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include sidenav.ejs %>

    <!-- /#sidebar-wrapper -->

    <!-- Header-navbar -->

    <div id="page-content-wrapper">

      <nav class="navbar navbar-full" id="header-navbar">

        <button id="sidebar-toggle" class="pull-xs-left navbar-toggler" type="button">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">Significant Bit</a>
        <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
          <i class="fa fa-ellipsis-v"></i>
        </button>

        <div class="collapse navbar-toggleable-sm" id="CollapsingNavbar">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
              <a class="nav-link" href="#">info@significantbit.se</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logga ut</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- /#header-navbar -->
