<!doctype html>

<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,700,700italic,900,900italic,600,600italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include sidenav.ejs %>

    <!-- /#sidebar-wrapper -->

    <!-- Header-navbar -->

    <div id="page-content-wrapper">

      <nav class="navbar navbar-full" id="header-navbar">

        <button id="sidebar-toggle" class=" navbar-toggler" type="button">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#"></a>

        <div class="btn-group pull-xs-right">
          <button type="button" class="navbar-toggler btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v hidden-md-up"></i>
            <span class="hidden-sm-down">info@significantbit.se</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header hidden-md-up">info@significantbit.se</h6>
            <a class="dropdown-item" href="#"><i class="fa fa-wrench fa-fw"></i> Inställningar</a>
            <a class="dropdown-item" href="#"><i class="fa fa-link fa-fw"></i> Länk</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-fw"></i> Logga ut</a>
          </div>
        </div>

      </nav>

      <!-- /#header-navbar -->
