<%- include header.ejs %>

<!-- Page Content -->

      <div class="container-fluid">
        <div class="row page-header">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Bread</a></li>
              <li class="active">Crumb</li>
            </ol>
            <h1>Significant Bits adminramverk</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title"><i class="fa fa-blind"></i> sigbit-admin</h3>
                <div class="card-actions">
                  <nav class="nav nav-inline">
                    <a class="nav-link active" href="#">Active</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Another link</a>
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </nav>
                </div>
                <p class="card-text">
                  sigbit-admin är byggt på Bootstrap v4.0.0-alpha.2. Samtliga, redan existerande komponenter är inkluderade. Utöver dessa har egna komponenter lagts till.</p>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">
                Bygga layout med Cards
              </h5>
                <div class="card-actions">
                  <div class="btn-group">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-refresh"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="fa fa-print"></i></button>
                  <button type="button" class="btn btn-secondary">Knapp</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-link"><i class="fa fa-times"></i></button>
                  </div>
                </div>

              <div class="card-block">
                <p class="card-text">Från och med Bootstrap 4 har panels, wells och thumbnails tagits bort och byts ut av komponenten Cards. Den vita boxen som den här paragrafen ligger i är ett card. Det är ett smidigt verktyg för att bygga upp visuella grupperingar och dela upp innehåll.</p>
              </div>
              <div class="card-footer">
                <a href="http://v4-alpha.getbootstrap.com/components/card/" target="_blank" class="card-link">Bootstraps dokumentation <i class="fa fa-external-link"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Egna komponenter</h3>
                <p class="card-text"></p>
              </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Off-canvas sidebar menu</li>
                  <li class="list-group-item">Page header</li>
                  <li class="list-group-item">Table action buttons</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <h4 class="card-header">Kodexempel, card och grids</h4>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <h5>Grid <i class="fa fa-caret-right"></i> Cards</h5>
                    <p>Lägg en <code>&lt;div class="card"&gt;</code> direkt inuti en <code>col-*-*</code> för att bygga upp layouten med cards.</p>
                    <p>På grund av den extra paddingen som cards adderar i layouten bör man förslagsvis använda sig av <code>col-lg-*</code>.</p>
                  </div>
                  <div class="col-md-6">
                    <h5>Grid <i class="fa fa-caret-right"></i> Cards <i class="fa fa-caret-right"></i> Grid</h5>
                    <p>Det går även att lägga ett grid inuti ett card, precis som i detta card. Placera en <code>&lt;div class="container-fluid"&gt;</code> och fyll sedan på med <code>.row</code> och <code>.col-*-*</code>, förslagsvis <code>.col-md-*</code>.</p>
                    <p>Därefter kan man strunta i card-classer så som <code>.card-block</code> eller <code>.card-title</code>. Element positionerar sig snyggt utan dem.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

<%- include footer.ejs %>
