
.page-header {
  // background: rgba(red,0.1);
  padding-bottom: $spacer;

  // Override bootstrap breadcrumb CSS
  .breadcrumb {
    padding: 0;
    margin: 0 0 $spacer/4 0;
    background: transparent;

    a:hover {
      text-decoration: none;
    }
  }

  h1 {
    margin: 0;
  }
}
