.nestable-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nestable-list .nestable-list { padding-left: $spacer*1.5; }
.nestable-collapsed .nestable-list { display: none; }

.nestable-item,
.nestable-empty,
.nestable-placeholder {
  display: block;
  position: relative;
}


.nestable-handle {
    display: block;
    margin: $spacer/2 0;
    padding: $spacer/2;
    background-color: $gray-lighter;
    border: 1px solid transparent;
    cursor: move;
    @include border-radius($border-radius-sm);

    &:hover {
      background: $gray-lightest;
     }
}


.nestable-item > button {
  position: relative;
  cursor: pointer;
  float: left;
  width: 18px;
  margin: 0 $spacer/5 0 $spacer/2;
  padding: $spacer/2 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
}
.nestable-item > button:before {
  display: block;
  margin-top: 5px;
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 0.9em;
  content: '\f067'; // Font Awesome plus icon
  color: $gray-light;
  text-indent: 0;
}
.nestable-item > button[data-action="collapse"]:before {
  content: '\f068'; // Font Awesome minus icon
}


.nestable-placeholder,
.nestable-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: $gray-lightest;
  border: 2px dashed $gray-light;
}

.nestable-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: transparent;
}

.nestable-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;

  .nestable-handle { background: $gray-lightest; }
  .small-action-btn-group { display: none; }
}

.nestable-dragel > .nestable-item .nestable-handle { margin-top: 0; }

.nestable-dragel .nestable-handle {
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
}
